.product-container {
    position: relative;
    transition: transform 0.3s ease-in-out;
    font-family: 'Arial', sans-serif; 
}

.product-container:hover {
    transform: scale(1.05);
}
.product-container:hover {
    transform: scale(1.05);
}

.add-to-cart-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}