.header {
  background-color: lightgrey;
  padding: 20px;
}

.footer {
  background-color: darkgrey;
  padding: 20px;
}

.body {
  background-color: orange;
}

.Button {
  padding: 10px 20px;
  background-color: gray;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.totals {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.carousel {
  max-height: 400px;
  max-width: 400px; 
}

.carousel-container {
  display: flex;
  justify-content: center;
}
