html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    color: white;
}

a:hover {
    border: solid 1px #fff;
}

.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav input[type=text] {
    float: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 500px;
}

@media screen and (max-width: 600px) {

    .topnav a,
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

/*.container {
      width: 200px;
      display: grid;
      grid-template-areas: "a a a a";
      gap: 30px;
      grid-auto-rows: 250px;
    }
    */

.product {
    background-color: lightblue;
    border: 1px solid #ffff;
    width: 450px;
    height: 250px;
}

.top {
    background-color: lightblue;
}

.header {
    background-color: lightgray;
    height: 30px;
}

.footer {
    background-color: darkgray;
    height: 30px;
    margin-top: 1rem;
}

.item {
    display: grid;
    grid-template-columns: max-content 200px 1fr;
}