clases/apicsharp/Lab7/*/obj/*
clases/apicsharp/Lab7/*/bin/*
clases/apicsharp/Lab7/Core/obj/Core.csproj.nuget.dgspec.json
clases/apicsharp/Lab7/Core/obj/Core.csproj.nuget.g.props
clases/apicsharp/Lab7/Core/obj/Core.csproj.nuget.g.targets
clases/apicsharp/Lab7/Core/obj/project.assets.json
clases/apicsharp/Lab7/Core/obj/project.nuget.cache
clases/apicsharp/Lab7/TodoApi/.DS_Store
clases/apicsharp/Lab7/TodoApi/obj/project.assets.json
clases/apicsharp/Lab7/TodoApi/obj/TodoApi.csproj.nuget.dgspec.json
clases/apicsharp/Lab7/TodoApi/obj/TodoApi.csproj.nuget.g.props
clases/apicsharp/Lab7/TodoApi/obj/TodoApi.csproj.nuget.g.targets
clases/apicsharp/Lab7/UT/obj/project.assets.json
clases/apicsharp/Lab7/UT/obj/project.nuget.cache
clases/apicsharp/Lab7/UT/obj/UT.csproj.nuget.dgspec.json
clases/apicsharp/Lab7/UT/obj/UT.csproj.nuget.g.props
clases/apicsharp/Lab7/UT/obj/UT.csproj.nuget.g.targets
clases/apicsharp/.DS_Store
clases/apicsharp/Lab7/Core/.DS_Store
.gitignore
