/C27507/C27507_Lab1/nodeJS_Lab3/nextjs-dashboard/node_modules
/C27507/C27507_Lab7/MyStoreAPI/.vscode/launch.json
/C27507/C27507_Lab7/MyStoreAPI/bin/Debug/net8.0
/C27507/C27507_Lab7/MyStoreAPI/obj
/C27507/C27507_Lab7/MyStoreAPI/obj/Debug
clases/apicsharp/Lab7/*/obj/Debug/*
clases/apicsharp/Lab7/*/bin/*
