/* Div con el carrito */
.cart-shop-container{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #F5B027;
	padding: 1.2rem;
	position: fixed;
	bottom: 25px;
	right: 50px;
}


.cart-shop-container a{	
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;	
}

/* Subcontenedor que contiene el num y la img del carrito */
.cart-shop-container .cart-info{
	position: relative;
	text-align: center;	
}

/* Num de productos en el carrito */
.cart-shop-container .notify-cart{	
	position: absolute;
	top: -40%;
	left: -50%;
	border-radius: 50%;
	background: black;
	color: white;
	width: 25px;
	height: 25px;
	line-height: 25px;
}

.cart-shop-container a *{	
	width: auto;
	color: white;
	font-size: 1.5rem;
	margin: 0 5px;	
}