@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.page {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 100px;
  grid-template-columns: repeat(4, 1fr);
}

.post {
  container-type: inline-size;
  container-name: sidebar;
  /*border: 1px ridge black;*/
  margin: 1rem;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.grid-container {
  display: inline-flex;
  grid-template-rows: 150px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: 1rem;
}

.cuad {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 200px;
  grid-template-columns: repeat(2, 1fr);
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  margin: 0.5rem;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.button1 {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* input[type=text], */
select {
  width: 100%;
  padding: 15px 230px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  ;
}

