
body {
    background-color: #add8e6; 
  }

  .header {
    background-color: #808080; 
    color: white; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  

  .footer {
    background-color: #808080;
    color: white; 
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  
  button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
  }

  .carritoNumero {
    background-color: red;
    width: 2rem;
    height: 2rem;
    font-weight: bold;
    border-radius: 50%;
    top: -10px;
    position: relative;
  }

  .main {
    margin: 2rem;
  }

  .imagenContainer {
    min-height: 100px;
  }
  