.header {
  background-color: lightgrey;
  padding: 20px;
}

.footer {
  background-color: darkgrey;
  padding: 20px;
}

.body {
  background-color: orange;
  overflow: auto;
}

.Button {
  padding: 10px 20px;
  background-color: gray !important;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.totals {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.carousel {
  max-height: 400px;
  max-width: 400px; 
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.sidebar {
  background-color: orange;
  float: left;
  width: 20%;
  padding: 15px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.content {
  background-color: orange;
  float: left;
  width: 80%;
  padding: 15px;
}

.chartContainer {
  display: flex;
}