
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  }
  
  /* Estilos para el calendario */
  .datePicker {
    margin-bottom: 20px;
    text-align: center;
  }
  .calendarInput {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .inputBox {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  .react-datepicker-wrapper {
    display: inline-block;
    padding: 0;
    border: 0;
}
  
  .calendarElement {
    position: absolute;
    z-index: 1;
  }
  
  /* Estilos para las tablas */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Estilos para los gráficos */
  .chartContainer {
    margin-top: 20px;
    width: 400px; /* Ajusta el ancho según tus necesidades */
    height: 400px; /* Ajusta la altura según tus necesidades */
  }
  h2 {
    text-align: center; /* Centra los títulos h2 */
  }