

 .flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    row-gap: 5px;
    column-gap: 1px;
    align-items: center;
 }

 .search-container {
   text-align: right; 
   margin-right: 20px; 
}

.product{
   width: 20%;

}

img {
   width : 100%;
}
