.header-container {
   background-color: #9b9b9b  ; 
   padding: 20px; 
   width: 100%;
}

 .flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    row-gap: 50px;
    column-gap: 10px;
    align-items: center;
 }

 .search-container {
   text-align: right; 
   margin-right: 60px; 
}

.product{
   width: 20%;

}

img {
   width : 100%;
}

.footer-container {
   background-color: #8a9597  ; 
   padding: 20px; 
   width: 100%;
}
