body {
    background-color: white;
}

.letra {
    font-family: Sans-Bold;
    font-size: 45px;
    font-weight: bold;
    color: white;

}

.search {
    width: 350px;
    height: 45px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;


}

.buttonDos {
    background-color: #232f3e;
    border-color: white;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}



.img {
    width: 180px;
    height: 180px;
    border-radius: 10%;
    margin: 10px;
    margin-top: 10px;
}



.letraProducto {
    font-family: Impact;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.buttonProducts1 {

    background-color: red;

    border-color: black;
    border-radius: 20px;
    height: 50px;
    width: 220px;
    color: black;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

header {
    background-color: #222222;
    text-align: center;
    padding: 10px;
    height: 100px;
    max-width: auto;



}

footer {
    background-color: rgb(72, 69, 69);
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    max-width: auto;

}

.col-sm-3 {
    border-color: blue;
    text-align: center;
    margin-top: 40px;
    align-items: center;
}

.containerC {
    background-color: orange;
    align-items: center;
    height: 250px;
    padding: 100px;
}

.carousel-inner {

    margin-left: 100px;
    margin-top: -100px;
}


.imgC {
    width: 450px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 40px;

}

.textC {
    font-family: Sans-Bold;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-left: 30px;
}