
.container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 20px;
	align-items: center;
	align-items: center

}

.product{
	width: 25%;
}

.product div{
	width:100%;
	text-align: center
}
img {
	width: 100%;
}
input
