*{
	margin: 0;
	padding: 0;
}

*{
	/* Lo usamos para que el tamanio y ancho de la caja tome en cuenta el padding y el borde de la caja misma*/
	box-sizing: border-box;
}

a,li{
	text-decoration: none;	
	list-style: none;	
}

button{
	border: none;
}

/* Menu */

.banner_menu{
	background: black;	
	width: 100%;
	height: 50px;
}

.menu li,a{
	color: white
}
.banner_menu .menu{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

.service_menu{	
	position: relative;
	cursor: pointer;
}

.service_menu ul{	
	display: flex;
	flex-flow: column nowrap;
	position: absolute;
	display: none;	
}

.service_menu:hover ul{		
	display: block;
}

.service_menu ul li{		
	padding: 1.2rem;
	background: black;
}

.service_menu ul li:hover{		
	background: white;
	color: orange;
}


/* Banner principal */
.main_banner{

	width: 100%;
	height: auto;
	background: #8a9597;
	padding: 1.4rem;
	/* display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center; */
}

/* Div con el buscador */
.search_container{
	width: 50%;
	height: 25px;
	display: flex;	
	align-items: center;
	justify-content: center;
}


.search_container input{
	width: 75%;	
	height: 100%;
	padding: 15px 10px;
	border-radius: 25px;
	border: none;
}

.search_container i{	
	color: white;
	font-size: 1.5rem;
	margin-left: 5px;
}

/* Div con el carrito */
.cart_container{
	width: 50%;
	height: 25px;		
}


.cart_container a{	
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.cart_container a *{	
	color: white;
	font-size: 1.5rem;
	margin: 0 5px
}


/* Galeria de productos */
.div_gallery{
	margin-top: 50px;
	width: 100%;
	/* display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 20px;
	justify-content: center; */
}

.product{	
	height: auto;
	padding: 0 1.5rem;
	/* display: flex;
	flex-flow: column nowrap; */
}

.product *{
	margin: 10px 0;
}







/* Contenedor de la imagen del producto */
.product div{
	width: 100%;
	height: 200px;
}

.product div img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.product p{
	text-align: center;
}

.product button{
	border-radius: 25px;
	padding: 10px 0;
	background: orange;
	color: white;
	cursor: pointer;
}










/* Footer */
footer{
	margin-top: 25px;
	background: #8a9597;
	width: 100%;
	height: 50px;
	text-align: center;
	color: white;
	align-items: center;
}