.payment-methods {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .payment-method {
    margin-bottom: 10px;
  }
  
  .payment-method label {
    margin-left: 10px;
    font-size: 16px;
  }
  
  .payment-method input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .payment-method input[type="checkbox"]:checked {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .payment-method input[type="checkbox"]:checked + label {
    color: #000;
  }
  .BtnBuy {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}  
.payment-info {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
  
  .payment-info-title {
    font-weight: bold;
  }
  
  .payment-code-input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .payment-info p {
    margin: 5px 0;
  }
  .alert-container {
    position: fixed;
    top: 10px;
    right: 10px;
  }
  
  .alert {
    height: 60px;
    width: 250px;
    background-color: rgb(210, 91, 91);
    font-size: 1.1rem;
    color: white;
    font-family: cursive;
    padding: 5px;
    border-radius: 5px;
  }
  