@tailwind base;
@tailwind components;
@tailwind utilities;


@import '~bootstrap/dist/css/bootstrap.min.css';

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  color: #fff; 
  background-color: #007bff; 
  padding: 10px 20px; 
  border-radius: 5px; 
  text-align: center;
}


h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  border: 12px;
}

.center-button {
  display: flex;
  justify-content: center;
}




